@import "tailwindcss";

@font-face {
  font-family: "vazir";
  font-style: normal;
  src: url(../../assets/font/Vazir-Black.eot);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: "vazir";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "vazir", Arial, Helvetica;
  @apply text-white;
}

@layer base {
  .hoverEffect {
    @apply transition-all duration-300 ease-in-out;
  }
  .text-shadow {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  }
  .textStyle {
    @apply bg-gradient-to-l from-[#818f30] via-[#7aa596] to-[#80858a] bg-clip-text text-transparent 
  }
}
